#container {
  margin-left: auto;
  margin-right: auto;
  position: relative;
  width: 400;
  height: 100%;
}
#phone_container {
  border-color: darkgrey;
  border-width: 9pt;
  border-style: solid;
  border-radius: 8pt;
  margin-left: auto;
  margin-right: auto;
  top: 50%;
  transform: translateY(-50%);
  background-color: #efefef;
  width: 400;
  height: 600;
  position: absolute;
}
#topBar {
  position: fixed;
  line-height: 15pt;
  width: 100%;
  font-family: sans-serif;
  font-size: 10pt;
  text-align: center;
  height: 15pt;
  background-color: white;
}

/*App Specific Style*/
#app_content {
  overflow: scroll;
  width: 100%;
  height: 100%;
  background: #a9a9a9;
}

#app {

}
.screen1 {
  display: none;
}
.screen2 {
  display: app screen3 month;
}
#menuBar {
  height: 50pt;
  background-color: lightblue;
  width: 100%;
  padding-top: 20pt;
  color: white;
  padding-left: 5pt;
  padding-right: 5pt;
}
#homeButton {
  font-size: 25pt;
}
#addButton {
  font-size: 25pt;
  float: right;
}

#circleContainer {
  width: 100%;
}
.c {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}
#circle {
  /*margin-left: auto;*/
  /*margin-right: auto;*/
  width: 100%;
  height: auto;
}

.month {
    padding: 20px 10px;
    width: 100%;
    background: #a9a9a9;
    text-align: center;
    ``
}

.month ul {
    margin: 0;
    padding:10;
}

.month ul li {
    color: black;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.month .prev {
    float: left;
    padding-top: 10px;
}

.month .next {
    float: right;
    padding-top: 10px;
}

.weekdays {
    margin: 0;
    padding: 10px 0;
    background-color: #ddd;
}

.weekdays li {
    display: inline-block;
    width: 11.6%;
    color: #666;
    text-align: center;
}

.days {
    padding: 10px 0;
    background: #eee;
    margin: 0;
}

.days li {
    list-style-type: none;
    display: inline-block;
    width: 11.6%;
    text-align: center;
    margin-bottom: 30px;
    font-size:14px;
    color: #1e1e1e;
}

.days li .active {
    padding: 5px;
    background-color: lightblue;
    color: white !important
}

